
<app-slider

[Nombre]="'pruebas'"
></app-slider>

<div class="center">
<section id ="content">
	
<h2 class="subheader">prueba!</h2>

<div *ngIf="nombre && apellidos; then siHayParametros else noHayParametros">

</div>

<ng-template #siHayParametros>
<h3>mi nombre es: {{nombre}}</h3>
<h3>mi apellido es: {{apellidos}}</h3>
</ng-template>

<ng-template  #noHayParametros>
<h3>no hay datos para mostrar!!</h3>

</ng-template>
<button (click)="redireccion()">pon el nombre y el apellido</button>


</section>	
<app-sidebar></app-sidebar>
</div>